# JBI010 - Exercises Week 1 22-23

This Jupyter notebook aims to provide exercises for practicing your programming skills.  

**Note:** Only five out of seven exercises–with a score of at least 80%–count for 5% of the course's final grade. Submit your notebook to Canvas, in this way Momotor will be able to give you feedback.

## Table of Contents

<div class="toc" style="margin-top: 1em;">
    <ul class="toc-item">
        <li>
            <span><a href="#Hello-World!-2.0" data-toc-modified-id="Hello-World!-2.0">1. Hello World! 2.0</a></span>
        </li>
        <li>
            <span><a href="#Minutes-in-a-Leap-Year" data-toc-modified-id="Minutes-in-a-Leap-Year">2. Minutes in a Leap Year</a></span>
        </li>
        <li>
            <span><a href="#Gross-Pay" data-toc-modified-id="Gross-Pay">3. Gross Pay</a></span>
        </li>
        <li>
            <span><a href="#Bonus" data-toc-modified-id="Bonus">4. Bonus</a></span>
        </li>
        <li>
            <span><a href="#Fahrenheit-to-Celsius" data-toc-modified-id="Fahrenheit-to-Celsius">5. Fahrenheit to Celsius</a></span>
        </li>
        <li>
            <span><a href="#Truth-Table" data-toc-modified-id="Truth-Table">6. Truth Table</a></span>
        </li>
        <li>
            <span><a href="#Send-a-Parcel" data-toc-modified-id="Send-a-Parcel">7. Send a Parcel</a></span>
        </li>
        <li>
            <span><a href="#Factorials" data-toc-modified-id="Factorials">8. Factorials</a></span>
        </li>
        <li>
            <span><a href="#Fibonacci-Number" data-toc-modified-id="Fibonacci-Number">9. Fibonacci Number</a></span>
        </li>
        <li>
            <span><a href="#Print-Pattern" data-toc-modified-id="Print-Pattern">10. Print Pattern</a></span>
        </li>
        </ul>
</div>


# Introduction to This Template Notebook

* This is a **personal** notebook. 
* Make sure you work in a **copy** of `...-template.ipynb`,
    **renamed** to `...-yourIDnr.ipynb`,
    where `yourIDnr` is your TU/e identification number. 

<div class="alert alert-danger" role="danger">
<h3>Integrity</h3>
<ul>
    <li>In this course, you must act according to the rules of the TU/e code of scientific conduct.</li>
    <li>All the exercises and the graded assignments are to be done within your programming homework group.</li>
    <li>You must not copy from the Internet, your friends, books... If you represent other people's work as your own, then that constitutes fraud and will be reported to the Examination Committee.</li>
    <li>Making your work available to others (complicity) also constitutes fraud.</li>
</ul>
</div>

You are expected to work with Python 3 code in this notebook.

The locations where you should write your solutions can be recognized by
**marker lines**,
which look like this:

>`#//`
>    `BEGIN_TODO [Label]` `Description` `(n points)`
>
>`#//`
>    `END_TODO [Label]`

<div class="alert alert-warning" role="alert">
    <h3>Markers</h3>
    Do NOT modify or delete these marker lines.  Keep them as they are.<br/>
    NEVER write code that is needed for grading <i>outside</i> the marked blocks. It is invisible there.
</div>

Proceed in this notebook as follows:
* **Personalize** the notebook (see below)
* **Read** the text.
* **Fill in** your solutions between `BEGIN_TODO` and `END_TODO` marker lines.
* **Run** _all_ code cells (also the ones _without_ your code),
    _in linear order_ from the first code cell.

**Personalize your notebook**:
1. Fill in your _full name_, _identification number_, and the current _date_ as strings between quotes.
1. Run the code cell by putting the cursor there and typing **Control-Enter**.

In [1]:
#// BEGIN_TODO [Author] Name, Id.nr., Date, as strings (1 point)

AUTHOR_NAME = 'Zhou,Chenxiao'
AUTHOR_ID_NR = '1879243'
AUTHOR_DATE = '2022-09-05'  # when first modified, e.g. '2022-09-05'

#// END_TODO [Author]

AUTHOR_NAME, AUTHOR_ID_NR, AUTHOR_DATE

('Zhou,Chenxiao', '1879243', '2022-09-05')


## How to Submit Your Work

1. **Before submitting**, you must run your notebook by doing **Kernel > Restart & Run All**. Make sure that your notebook runs without errors **in linear order**.

2. Submit the executed notebook with your work for the appropriate assignment in **Canvas**.

* In the **Momotor** tab in Canvas,
  you can select that assignment again to find some feedback on your submitted work.
  
* If there are any problems reported by _Momotor_,
  then you need to fix those issues and **resubmit the fixed notebook**.

In case of a high workload on our server
(because many students submit close to the deadline),
it may take longer to receive the feedback.

## Preliminaries

Run the cell below. This cell will import additional modules providing additional Python functionality.

In [2]:
# Imports

## Important Reminder

* Follow all coding conventions defined on the Python Coding Standard document. Remember that you are not just programming for a **machine**, you are mainly programming for **other humans!**
    * In particular, all function definitions must have **type hints** and a **docstring**.
    * A *valid* **docstring** starts with a capital letter and ends with a dot.

# Hello World! 2.0

Printing strings is a good way to output information to the screen so you or others can read it.
Usually, we want to output variables together with the string.<br>

Create a program that prints a line, using the variables `name` and `country`. Feel free to modify their content.  The content of the line should be as follows: "Hello World! My name is `<name>` and I come from `<country>`".


**Note:**
1. The quotes should not be in the output. They are in the exercises to indicate strings.
2. Make use of the `print()` function.

**Example:**
```python
# Input
name = 'Ligia'
country = 'Brazil'

# Output
'Hello World! My name is Ligia and I come from Brazil.'
```

In [3]:
name = 'Ligia'
country = 'Brazil'

#// BEGIN_TODO [Hello_world!_2.0] Hello world! 2.0

print("Hello World! My name is "+name+" and I come from "+country+".")

#// END_TODO [Hello_world!_2.0]

Hello World! My name is Ligia and I come from Brazil.

# Minutes in a Leap Year

2020 is a leap year. A leap year has one extra day to align the calendar year with the astronomical year. Write a program that calculates how many minutes there are in a leap year.
Assign the answer to the variable `time`.

**Note:** Use the multiplication operator (as many times as needed) to compute the number of minutes, and assign the value to the variable `time`.  

**Example:**
```python
# Input
None

# Output
527040
```

In [4]:
#// BEGIN_TODO [Minutes_in_a_Leap_Year] Minutes in a Leap Year

time = 366 * 24 * 60

#// END_TODO [Minutes_in_a_Leap_Year]

print(time)

527040

# Gross Pay

Write a program that computes the gross pay(what employees earn before taxes) of a worker per month(4 weeks). This program considers the number of worked hours per week and the pay rate. Use the `hours` and `rate` variables, respectively. Store the result in a variable called `pay`.<br>



**Example:**
```python
# Input
hours = 40
rate = 13

# Output
2080
```

In [5]:
hours = 40
rate = 13

#// BEGIN_TODO [Gross_Pay] Gross Pay

pay = 4 * hours * rate

#// END_TODO [Gross_Pay]

print(pay)

2080

# Bonus

Write a program that computes the mid-year bonus of a worker. This bonus is equal to 8% of the gross pay(what employees earn before taxes) received during 12 months. Assume that the gross pay is the same every month. Consider the result of the gross pay value stored in the `pay` variable. Store the result in a new variable called `bonus`.<br>

**Note:** Make use of the variable `pay`.

**Example:**
```python
# Input
pay = 2080

# Output
1996.8000000000002
```

In [6]:
pay = 2080

#// BEGIN_TODO [Bonus] Bonus

bonus = (12 * pay * 0.08)

#// END_TODO [Bonus]

print(bonus)

1996.8

# Fahrenheit to Celsius

Write a program that converts 100°F (degrees Fahrenheit) to °C (degrees Celsius). Use the variable `fahrenheit` and assign the answer to the variable `celsius`.  

**Note:** 
1. Do not use the `print()` function, it is already in the code cell.
2. The formula to compute the temperature in degrees Celsius from degrees Fahrenheit is as follows: $c = (f - 32) \times \frac{5}{9}$, where $c$ is the temperature in °C and $f$ is the temperature in °F.

**Example:**
```python
# Input
fahrenheit = 100

# Output
37.77777777777778
```

In [7]:
fahrenheit = 100

#// BEGIN_TODO [Fahrenheit_to_celsius] Fahrenheit to celsius

celsius = (fahrenheit - 32) * 5 / 9

#// END_TODO [Fahrenheit_to_celsius]

print(celsius)

37.77777777777778

# Truth Table

You are hired to build a program that returns the truth of an logical implication statement. An implication or conditional statement is a declarative sentence composed of two statements $p$ and $q$ connected by an *if .. then* phrase. It is something of the form "if $p$ then $q$". For example, you can say "if it rains then I will get wet", where $p =$ "it rains" and $q = $ "I will get wet".

An logical implication statement is written like $p \rightarrow q$. We can verify the truth value of a statement by looking at the implication truth table:

| **p** | **q** | **p &rarr; q** |
|:-----:|:-----:|:--------------:|
|True |True |True |
|True |False|False|
|False|True |True |
|False|False|True |

To implement your program you need to use two variables, namely `p` and `q`. Print a message of the form "If p is `<p>` and q is `<q>`, then p implies q is `<implication>`". For this exercise use `if` statements.<br><br>
**Note:**<br>
1. Store the implication into the `implication` variable.
2. Make use of logical operators (i.e., `and`, `or`, `not`).
3. The output should not contain quotes, in the example section, we use quotes for you to notice what the output is.<br>

**Example:**
```python
# Input
p = False
q = False

# Output
'If p is False and q is False, then p implies q is True.'
```

In [8]:
p = False 
q = False

#// BEGIN_TODO [Truth_table] Truth table

if (p == True and q == False):
    implication = False
else:
    implication = True
print("If p is ",p," and q is ",q,", then p implies q is ",implication,".",sep="")

#// END_TODO [Truth_table]

If p is False and q is False, then p implies q is True.

# Send a Parcel

You are hired to create a program that computes the price of sending a parcel from the Netherlands to different continents. The price depends on the weight of the parcel and the continent to which it is sent. Use the `kg` and the `continent` variables, respectively. Store the result in the variable `price`. 

In the following table, you will get the price **per kg** per continent.

| **Continent** | **0-5 kg** | **6-10 kg** | **11-15 kg** | **16-20 kg**|
|:--------------|:----------:|:-----------:|:------------:|:-----------:|
| Africa     | 13 &euro; | 7.5 &euro; | 6.5 &euro; | 5 &euro;   |
| America    | 13 &euro; | 7.5 &euro; | 6.5 &euro; | 5 &euro;   |
| Antarctica | 20 &euro; | 10 &euro;  | 7.5 &euro; | 7 &euro;   |
| Asia       | 12 &euro; | 7 &euro;   | 5.5 &euro; | 4 &euro;   |
| Europe     | 5 &euro;  | 4 &euro;   | 2.5 &euro; | 1.5 &euro; |
| Oceania    | 12 &euro; | 7 &euro;   | 5.5 &euro; | 4 &euro;   |<br>

**Note:**<br>
1. **Only** use conditionals to solve this problem (i.e., `if` statements).
2. Do not use the `print()` function, it has been placed in the cell block already.<br><br>


**Example:**
```python
# Input
kg = 10
continent = AFRICA

# Output 
price
75.0
```

In [9]:
AFRICA = 'Africa'
AMERICA = 'America'
ANTARCTICA = 'Antarctica'
ASIA = 'Asia'
EUROPE = 'Europe'
OCEANIA = 'Oceania'

kg = 10 
continent = AFRICA

#// BEGIN_TODO [Send_a_parcel] Send a parcel 

if continent == 'Africa':
    if kg<6:
        price = kg * 13
    elif kg<11:
        price = kg * 7.5
    elif kg<16:
        price = kg * 6.5
    elif kg<21:
        price = kg * 5
elif continent == 'America':
    if kg<6:
        price = kg * 13
    elif kg<11:
        price = kg * 7.5
    elif kg<16:
        price = kg * 6.5
    elif kg<21:
        price = kg * 5
elif continent == 'Antarctica':
    if kg<6:
        price = kg * 20
    elif kg<11:
        price = kg * 10
    elif kg<16:
        price = kg * 7.5
    elif kg<21:
        price = kg * 7
elif continent == 'Asia':
    if kg<6:
        price = kg * 12
    elif kg<11:
        price = kg * 7
    elif kg<16:
        price = kg * 5.5
    elif kg<21:
        price = kg * 4
elif continent == 'Europe':
    if kg<6:
        price = kg * 5
    elif kg<11:
        price = kg * 4
    elif kg<16:
        price = kg * 2.5
    elif kg<21:
        price = kg * 1.5
elif continent == 'Oceania':
    if kg<6:
        price = kg * 12
    elif kg<11:
        price = kg * 7
    elif kg<16:
        price = kg * 5.5
    elif kg<21:
        price = kg * 4

#// END_TODO [Send_a_parcel]

print(price)

75.0

# Factorials

Write a program that computes factorials. The program uses the variable `num` as input and stores the result in the variable `factorial`.

A factorial is computed as $n! = n \times (n - 1) \times (n - 2) \times (n - 3) \times ... \times 3 \times 2 \times 1$.  
For example, $6! = 6 \times 5 \times 4 \times 3 \times 2 \times 1 = 720$.<br><br>
**Note:**<br>
1. Make use of a `while` loop.
2. Store the result in variable `factorial`.
3. In each iteration of the `while` loop, the `factorial` variable has to change.
4. do not make use of built-in `factorial` function.

**Example:**
```python
# Input
num = 5

# Output 
factorial
120
```

In [10]:
num = 5

#// BEGIN_TODO [Factorials] Factorials

factorial = num
while num > 1:
    factorial *= num-1
    num -= 1

#// END_TODO [Factorials]

print(factorial)

120

# Fibonacci Number

Write a program that computes the Fibonacci number in the $n^{th}$ position of the Fibonacci sequence. In mathematics, the Fibonacci numbers, form a sequence, the Fibonacci sequence, in which each number is the sum of the two preceding ones.
The Fibonacci sequence starts with `0` and `1`. 

Afterwards, to compute the term number $n$ you use the following formula $x_n = x_{n - 2} + x_{n - 1}$.
Thus, the Fibonacci sequence looks like $0, 1, 1, 2, 3, 5, 8, 13, 21, ...$

| Position | Fibonacci number |
|:--------:|:----------------:|
| 0 | 0 |
| 1 | 1 |
| 2 | 1 |
| 3 | 2 |
| 4 | 3 |
| 5 | 5 |
| 6 | 8 |
| 7 | 13 |
| 8 | 21 |
| 9 | 34 |
| 10 | 55 |
| ... | ... |

For example, the $6^{th}$ Fibonacci number of the sequence corresponds to 8.

Set the Fibonacci number position in the variable `n` and print the message: "The Fibonacci number in position `<n>` corresponds to `<fibonacci_num>`".

**Note:**<br>
1. Make use of a `while` loop.
2. Store the $n^{th}$ Fibonacci number in the variable `fibonacci`.
3. The `n` variable has been given, there is no need to define it yourself.

**Example:**
```python
# Input
n = 10

# Output
'The Fibonacci number in position 10 corresponds to 55.'
```

In [11]:
n = 10

#// BEGIN_TODO [Fibonacci_number] Fibonacci number

a=0
b=1
x=n
if n==1:
    fibonacci=1
else:
    while x!=1:
        t=b
        b=a+b
        a=t
        fibonacci=b
        x -= 1
print("The Fibonacci number in position ",n," corresponds to ",fibonacci,".",sep="")

#// END_TODO [Fibonacci_number]

The Fibonacci number in position 10 corresponds to 55.

# Print Pattern

Write a program that prints the following pattern: 

o  <br>
oo  <br>
ooo  <br>
oooo  <br>
ooooo  <br>
oooooo  <br>
ooooooo  <br>
oooooooo  <br>
ooooooooo  <br>
oooooooooo  <br>

This pattern is built based on a number `n` which determines the number of rows and the maximum number of columns of the pattern. Thus, if `n == 10`, the pattern will have 10 rows, starting with only one `o` in the first row and increasing until 10 `o` in the last one. Use a nested loop to get the expected result. 

**Note:**<br>
1. Make use of **nested** 'while' loops.
2. Use the `print()` function to make a new line at the end of each row.
3. The variable `n` determining the number of rows has been defined.

**Example:**
```python
# Input
n = 5

# Output
'''
o  
oo  
ooo  
oooo  
ooooo
'''
```

In [12]:
n = 5

#// BEGIN_TODO [Print_pattern] Print pattern

a=0
while a<n:
    b=0
    while b<a:
        print("o",end="")
        b += 1
    a += 1
    print("o")

#// END_TODO [Print_pattern]

o
oo
ooo
oooo
ooooo

In [13]:
%whos

Variable       Type     Data/Info
---------------------------------
AFRICA         str      Africa
AMERICA        str      America
ANTARCTICA     str      Antarctica
ASIA           str      Asia
AUTHOR_DATE    str      2022-09-05
AUTHOR_ID_NR   str      1879243
AUTHOR_NAME    str      Zhou,Chenxiao
EUROPE         str      Europe
OCEANIA        str      Oceania
a              int      5
b              int      4
bonus          float    1996.8
celsius        float    37.77777777777778
continent      str      Africa
country        str      Brazil
factorial      int      120
fahrenheit     int      100
fibonacci      int      55
hours          int      40
implication    bool     True
kg             int      10
n              int      5
name           str      Ligia
num            int      1
p              bool     False
pay            int      2080
price          float    75.0
q              bool     False
rate           int      13
t              int      34
time           int      527040
x              int      1

---

## (End of Notebook)

&copy; 2021 - **TU/e** - Eindhoven University of Technology